@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width:800px) {
    .sidebar{
      display: none;
    }
    .right{
      display: none;
    }
    .story-container{
        padding-top: 0;
      width: 100%;
    }
    .pc{
      width: 100%;
      padding-top: 45px;
    }
    .pst{
        width: 100%;
        padding: 0;
        padding-inline: 5px;
    }
    .postcontainer{
        padding-top: 12px;
    }
  } 